<h1>Welcome to the about page</h1>

<h2>
    <%= link_to "Go To Articles", articles_path, {style: "color: black; text-decoration: none;"} %>
</h2>

<h2>
    <%= link_to "Go To Home Page", root_path, {style: "color: black; text-decoration: none;"} %>
</h2>