<!-- <h2>
    <%= link_to "Articles", articles_path %>
</h2>
<h2>
    <%= link_to "About Us" , about_path %>
</h2> -->
<%= render "shared/flash_msgs" %>

<div>
    <div class="container text-center" id="home_container">
        <div class="jumbotron col-8 mx-auto" id="home_jumbotron">
            <h1 class="display-4">MyBlog</h1>
            <p class="lead">Welcome to My Blog. Your friend to manage your blogs online</p>
            <hr class="my-4">
            <p>We used Ruby on Rails to develop the backend and took help from bootstrap for the frontend.</p>
            <!-- <a class="btn btn-primary btn-lg" href="/signup" id="sign-up-btn" role="button">Sign Up</a> -->
            <%= link_to "Sign up!", signup_path, id: "sign-up-btn", class: "btn btn-primary btn-lg", role: "button" %>
        </div>
    </div>
</div>
